* {
  box-sizing: border-box;
}

body {
  background-color: #F9E1E1;
  color: #AB6969;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  z-index: 99;
}

a {
  color: #770303;
}

header {
  background-color: #FDD3D3;
  margin-bottom: 5rem;
  width: 100%;
}

nav {
  margin: 0 auto;
  max-width: 1024px;
  padding: 2rem 0;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
}

nav li {
  margin: 1rem;
  padding: 0.2rem 1rem;
}

nav li a {
  font-size: .5rem;
  text-decoration: none;
}

nav li a:hover {
  background-color: #f5e9e9;
  border: 10px solid #f5e9e9;
  color: #9B0303;
}

main {
  margin: 1rem auto;
  max-width: 1024px
}

main {
  display: flex;
  justify-content: space-between;
}

article {
  flex-basis: 64%;
  margin-right: 2rem;
}

article p {
  font-family: 'Cookie', cursive;
  font-size: 1rem;
  line-height: 150%;
}

article aside {
  border: 1px solid #542323;
  margin: 1rem 0;
  padding: 1rem;
}

article aside li {
  margin: .5rem 0;
}

main aside {
  flex-basis: 30%;
}

form fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form input {
  margin-bottom: 1rem;
}

.cta {
  align-items: center;
  background-color: #57473A;
  color: #DBC9BA;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: .5rem 2rem;
  margin: 1rem 0;
}

#results {
  position: relative;
}

.deals {
  background-color: FloralWhite;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.deals h3 {
  font-size: 1.5rem;
  margin: .5rem 0 .8rem;
}

.deals img {
  width: 100%;
}

.deals img:hover {
  cursor: pointer;
}

.claim-deal {
  background-color: #AB6969;
  border-radius: .3rem;
  color: whitesmoke;
  padding: .5rem;
}

.claim-deal:hover {
  background-color: #f5e9e9;
  color: #682C2C;
  cursor: pointer;
}

.deals p {
  font-size: .8rem;
  padding: .5rem 0 1rem;
}

article img {
  margin: 2rem 0;
  width: 550px;
}

footer {
  background-color: #57473A;
  color: whitesmoke;
  margin-top: 3rem;
  padding: 3rem;
  width: 100%;
}
