body {
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
#images {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 4rem 0;
}

#images img {
  box-shadow: .5em .5em .5em .5em;
  width: 100%;
  object-fit: contain;
  height: 15rem;
}

#showResults {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 5px 10px;
}

li {
  font-size: 1.5rem;
}
