@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand|Wire+One|Tulpen+One|Eczar);



/*font-family: 'Wire One', sans-serif;

font-family: 'Tulpen One', cursive;

font-family: 'Eczar', serif;*/


body {
  background-color: #ff7a7a;
  font-family: 'Just Another Hand', cursive;
}

p {
  font-family: 'Tulpen One', cursive;
  color: blue;
}

li {
  display: inline;
}


#preface h1 {
  font-family: 'Eczar', serif;
}

#image-demo {
  /* needed to remove gaps between "child" elements using inline-block.
  display: flex would remove need for this hack
  */
  font-size: 0;


  width: 50%;
}

img {
  /* display: flex in parent element is better */
  display: inline-block;


  max-width: 33%;
}

