header, footer {
  background-color: green;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 10px;
}
nav a {
  color: whitesmoke;
  text-decoration: none;
  transition: font-size .25s ease;
}

nav a:hover {
  text-decoration: underline;
  font-size: x-large;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  width: 80%;
}

.four-wide {
  display: flex;
  gap: 20px;
}

.four-wide img {
  width: 100%;
}

.two-wide {
  display: flex;
  gap: 20px;
}

.two-wide img {
  width: 100%;
}

.one-two-wide {
  display: flex;
  width: 100%;
  gap: 20px;
}

.one-two-wide img {
  flex: 1;
  width: 100%;
}

.one-two-wide p {
  flex:2;
  overflow: scroll;
  height: 240px;
  font-size: 20px;
}


footer {
  color: whitesmoke;
  font-size: x-large;
  padding: 20px;
}
