/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


#container {
  background-color: aquamarine;
  display: flex;
  padding: 10px;
}

.outer-box {
  background-color: firebrick;
  padding: 10px;
  margin: 10px;
}

.inner-box {
  height: 100px;
  width: 100px;
  background-color: royalblue;
  border-radius: 100%;
  border: 10px solid blanchedalmond;
}
